<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The Department of Extradimensional Affairs has a long and rich history.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>??? - 2018</h4>
                                    <h4 class="subheading">Our Dark Past</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During the Dark Times, the Ministry of Occultism regretably engaged in policies that are now viewed as prejudicial and cruel. Exact historical records have been unfotunately lost, but it is important for us to never repeat our past mistakes.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">A New Age</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">When extradimensional entities made themselves known to the general public, the archaic Ministry of Occultism was disbanded and replaced by the new and progressive Department of Extradimensional Affairs.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018 - 2024</h4>
                                    <h4 class="subheading">Growing Pains</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">While less than ideal, the transitional period was highly educational and productive. Our Department underwent multiple restructurings in order to develop the most efficient tactics and policies.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2024 - ???</h4>
                                    <h4 class="subheading">The Future is Bright</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Armed with the widsom and knowledge of experience, our Department gazes ahead to a hopeful and peaceful future.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
